@using Microsoft.AspNetCore.Http
@model List<string>

@{
    Layout = "_LayoutProducts";
    ViewData["Title"] = "Sacola";

    // Variáveis para o cálculo do total
    decimal total = 0;
    int totalQuantidade = 0;
}

<style>
    .fixed-total {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }
</style>

<h1>Sacola</h1>

<div class="row">
    <div class="col-md-8">
        @if (Model.Any())
        {
            <h3>Produtos na Sacola:</h3>
            <ul>
                @foreach (var produto in Model)
                {
                    var detalhes = produto.Split('\n');
                    if (detalhes.Length >= 3)
                    {
                        var nome = detalhes[0];
                        var valorString = detalhes[1].Replace("Valor: R$ ", "");
                        var quantidadeString = detalhes[2].Replace("Quantidade: ", "");

                        decimal valor;
                        int quantidade;
                        if (decimal.TryParse(valorString, out valor) && int.TryParse(quantidadeString, out quantidade))
                        {
                            decimal valorUnitario = valor; // Não é mais necessário calcular o valor unitário aqui
                            total += valorUnitario * quantidade; // Multiplica o valor unitário pela quantidade
                            totalQuantidade += quantidade;

                            <li class="item-sacola">
                                <p>@nome</p>
                                <p>Valor: R$ @valorString</p>
                                <p>Quantidade: @quantidadeString</p>
                                <button class="btn btn-sm btn-danger remove-item">Remover</button>
                            </li>

                            <br /> <!-- Adicione esta linha para criar um espaço entre os itens -->
                        }
                    }
                }
            </ul>
        }
        else
        {
            <p>Nenhum produto na sacola.</p>
        }
    </div>

    <div class="col-md-4">
        <h3>Adicionar mais itens:</h3>
        <form id="adicionarItemForm" method="post" asp-action="AdicionarItemSacola">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Name" class="control-label">Nome</label>
                <input name="Name" class="form-control" />
                <span class="text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="Valor" class="control-label">Valor</label>
                <input name="Valor" class="form-control" />
                <span class="text-danger" data-valmsg-for="Valor" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="Quantidade" class="control-label">Quantidade</label>
                <input name="Quantidade" class="form-control" min="0" />
                <span class="text-danger" data-valmsg-for="Quantidade" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="fixed-total" id="fixedTotal">
    <div class="text-center">
        <p class="h4">Total de produtos: <span id="totalQuantidade">@totalQuantidade</span></p>
        <p class="h4">Total a pagar: R$ <span id="totalValor">@total</span></p>
    </div>
</div>

@section Scripts {
    <script>
        function atualizarTotal() {
            var total = 0;
            var totalQuantidade = 0;
            var itens = document.querySelectorAll('.item-sacola');

            itens.forEach(function (item) {
                var valorString = item.querySelector('p:nth-child(2)').textContent.replace("Valor: R$ ", "");
                var quantidadeString = item.querySelector('p:nth-child(3)').textContent.replace("Quantidade: ", "");

                var valor = parseFloat(valorString.replace(',', '.'));
                var quantidade = parseInt(quantidadeString);

                total += valor * quantidade;
                totalQuantidade += quantidade;
            });

            var totalElement = document.getElementById('totalValor');
            var totalQuantidadeElement = document.getElementById('totalQuantidade');

            totalElement.textContent = total.toFixed(2);
            totalQuantidadeElement.textContent = totalQuantidade;
        }

        function removeItem(button) {
            var li = button.parentNode;
            var nome = li.querySelector('p:nth-child(1)').textContent.trim();

            // Remover o item do cookie correspondente ao nome
            document.cookie = nome + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';

            // Atualizar o total
            var valorString = li.querySelector('p:nth-child(2)').textContent.replace("Valor: R$ ", "");
            var quantidadeString = li.querySelector('p:nth-child(3)').textContent.replace("Quantidade: ", "");
            var valor = parseFloat(valorString.replace(',', '.'));
            var quantidade = parseInt(quantidadeString);

            var totalElement = document.getElementById('totalValor');
            var totalQuantidadeElement = document.getElementById('totalQuantidade');

            totalElement.textContent = (parseFloat(totalElement.textContent) - valor * quantidade).toFixed(2);
            totalQuantidadeElement.textContent = parseInt(totalQuantidadeElement.textContent) - quantidade;

            // Remover o item visualmente
            li.parentNode.removeChild(li);
        }

        // Atualizar o total quando a página é carregada
        window.addEventListener('load', function () {
            atualizarTotal();
        });

        // Adicionar evento de clique aos botões "Remover"
        var removeButtons = document.querySelectorAll('.remove-item');
        removeButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                removeItem(this);
            });
        });

        document.getElementById("adicionarItemForm").addEventListener("submit", function (e) {
            e.preventDefault();
            if (confirm("Deseja adicionar este item à sacola?")) {
                this.submit();
            }
        });
    </script>
}
